#play-button {

    -fx-background-image: url("file:assets/abspielen.png");
}

#pause-button {

    -fx-background-image: url("file:assets/pause.png");
}

#next-button {

    -fx-background-image: url("file:assets/nach-vorne.png");
}

#prev-button {

    -fx-background-image: url("file:assets/ruckwarts.png");
}

#shuffle-button {

    -fx-background-image: url("file:assets/mischen.png");
}

#repeat-button {

    -fx-background-image: url("file:assets/repeat.png");
}

#switch-button {

    -fx-background-image: url("file:assets/optionen.png");
}

.icon-button{
    -fx-min-width: 64;
    -fx-min-height: 64;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: 48 48;
    -fx-background-position:center;
}

.icon-button:hover {
    -fx-border-color: white;
    -fx-border-style: 1px solid;
    -fx-border-radius: 4px;
}

.icon-button:active {       /*das funktioniert noch nicht*/
    -fx-border-color: blue;
    -fx-border-style: 3px solid;
}

.background {
    -fx-background-image: url("file:assets/bg04_sky_smol.jpg");
    -fx-background-position: top center; /* Bild oben links ausrichten */
}